
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #EDEDE0;
    font: 14px helvetica,serif;
}
#bottom-line, #top-left, #top-right, #bottom-left, #bottom-right, #vertical-right, #vertical-left, #top-line
{
    position: fixed;
} 



#top-left{
    width: 500px;
    height:500px;
    top:0;
    left:0;
    background:url("../images/imgtest/upper_left.png") no-repeat left top;
}
#top-right{
    width: 500px;
    height:500px;
    top:0;
    right:0;
    background:url("../images/imgtest/upper_right.png") no-repeat right top;
}
#bottom-right{
    display: block;
    width: 500px;
    height:500px;
    bottom:0;
    right:0;
    background:url("../images/imgtest/bottom_right.png") no-repeat right bottom;
}
#bottom-left{
   
    width: 500px;
    height:500px;
    bottom:0;
    left:0;
    background:url("../images/imgtest/bottom_left.png") no-repeat left bottom;
}

#bottom-line {
    z-index:-1;
    width: 100%;
    height:130px;
    background:url("../images/imgtest/bottom_line.png") repeat-x transparent;
    bottom:0;
}

#vertical-right{
    z-index:-1;
    width: 371px;
    height:100%;
    background:url("../images/imgtest/vertical_right.png") repeat-y transparent;
    right:0;
}

#vertical-left{
    z-index:-1;
    width: 96px;
    height:100%;
    background:url("../images/imgtest/vertical_left.png") repeat-y transparent;
    left:0;
}

#top-line {
    z-index:-1;
    width: 100%;
    height:94px;
    background:url("../images/imgtest/bottom_line.png") repeat-x transparent;
    top:0;
}

#wrapper {
    margin:0 auto;
    display: block;
    height: 929px;
    position: relative;
    width: 100%;
}

section {
    float: left;
    height: 607px;
    left: 12%;
    margin-top: 123px;
    position: absolute;
    top: 1%;
    width: 810px;
    z-index: -2;
}
section h1{
    border-bottom: 0.5px solid #7E7E7E;
    color: #544C46;
}

nav {
    position: fixed;
	height: 345px;
    right: 21px;
    bottom: 99px;
    width: 238px;
}

 nav ul li {
	list-style-type: none;
    padding-bottom: 34px;
}
nav ul li a {
    border: 1px solid;
	text-shadow: 1px 1px 1px #939081;
	color: #544C46;
	font-weight: bold;
	font-size: 20px;
	font-family: helvetica;
	margin: 0 75px 0 69px;
	text-decoration: none;
}
table {
  border-collapse:collapse;
}
th, td {
    border: 1px solid #E6E6D2;
    padding: 5px 10px;
}
img {
    border: medium none;
}
tr {
    width:10px;
}